img {
    /* width: 283px; */
    height: 350px
}

#members {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;

}

body {
    background-color: burlywood;
}

/* alligns the character bar at the center */
.container {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-0%, -50%);
    overflow-y: visible;
    max-height: 100%;
    scrollbar-width: none;
}

.members {
    border: 3px solid #8889CC;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */  
    border-radius: 2em;
    text-align: center;
    padding: .5em;
    width: fit-content;
}

img.member-img {
    margin: 2em;
    border-radius: 2em;
    transition: 0.7s;
    z-index: 1;
}
/* when hovering over images */
img.member-img:hover {
    z-index: 0;
    scale: 1.1;
    filter: drop-shadow(0 0 0.4rem rgb(190, 20, 220)) drop-shadow(30px 10px 4px #fff);
}